

/*div {
	width: 100px;
	float: left;

}

#one {
	background-color: green;
}

#two {
	background-color: red;
}*/

img {
	width: 30%;
	float:left;
	margin: 1.66%;

}
p {
	font-family: raleway;
	margin-left: 1.66%;
	font-size: 40px;
	font-weight:bold;
	text-transform: uppercase;
	border-bottom: 3px solid #11FF22;
	width: 30%;
	padding-bottom: 20px;

}